/*-------------STYLE RESET--------------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--STYLES--*/

@import url('https://fonts.googleapis.com/css?family=Raleway:100|Yantramanav:900');

body{
    background-color: #191e3f;
}
#wrapper{
    max-width: 2000px;
    width: 100%;
    margin: 0 auto;  
}

*{
    box-sizing: border-box;
}
/*--HEADER--*/
header{
    background-image: url(http://imagehost.imgcave.com/2017/07/01/mountains.png);
    background-size: cover;
    background-position: 50%/100%;
    width: 100%;
    height: 47.813em;
    border: 2px solid white;
    position: relative;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.slogan{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    padding: 30px;
    bottom: 30px;
}
header h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 77px;
    text-align: center;
    color: #fff;
    align-self: center;
}

/*--MISSION--*/
.mission{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin: 10px;
}
.number {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin: 30px;
    
}
.number h1{
    font-family: 'Yantramanav', sans-serif;
    font-size: 287px;
    color: #28284b;
    opacity: 0.4;
    letter-spacing: 4px;
}

.number p{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    color: #fff;
    top:120px;
    left:120px;
    display: inline-block;
    transform: rotate(270deg);
    position: absolute;
}

.box{
   margin: 20px;
   -webkit-box-shadow: -20px 21px 37px 9px rgba(0,0,0,0.2);
   -moz-box-shadow: -20px 21px 37px 9px rgba(0,0,0,0.2);
   box-shadow: -20px 21px 37px 9px rgba(0,0,0,0.2);
   position: relative;
   height: 660px;
}
.box img{
   opacity: 0.8;
}
.text{
    position: absolute;
   top: 225px;
   left: 950px;
}
.text p{
   font-family: 'Raleway', sans-serif;
   font-size: 19px;
   color: #fff;
   line-height: 1.5em;
}
/*--PROJECTS--*/
.projects{
    height: 1350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: url(http://imagehost.imgcave.com/2017/07/04/letterR.png) no-repeat 25% center,url(http://imagehost.imgcave.com/2017/07/04/Layer17.png)  no-repeat center;
    
    position: relative;
    margin-top: 100px;
}

.project-images{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
    margin: 10px;
}

.project-images img{
    padding: 20px;
}

.number1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.number1 h1{
    font-family: 'Yantramanav', sans-serif;
    font-size: 287px;
    color: #28284b;
    opacity: 0.4;
    letter-spacing: 4px;
    position: absolute;
    top: -700px;
    left: -170px;
}

.number1 p{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    color: #fff;
    top:-575px;
    left:-10px;
    display: inline-block;
    transform: rotate(270deg);
    position: absolute;
    opacity: 0.4;
}

.team{
    background: url(http://imagehost.imgcave.com/2017/07/04/T.png) no-repeat 50%/75%;
    height: 2600px;
    z-index: 1;
    position: relative;
    
}
.georg{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 200px;
    position: relative;
    
}
 .photo-g{
    width: 660px;
    height: 660px;
    overflow: hidden;
    position: relative;
     -webkit-box-shadow: -16px 17px 41px 9px rgba(0,0,0,0.66);
    -moz-box-shadow: -16px 17px 41px 9px rgba(0,0,0,0.66);
    box-shadow: -16px 17px 41px 9px rgba(0,0,0,0.66);
    
}

.photo-g img{
    position: absolute;
    width: 130%;
    opacity: 0.3;
    z-index: 2
}
    
.description{
    max-width: 100%;
    z-index: 3;
}

.dsc-g{
    position: absolute;
    top: 350px;
    right: 515px;
    width: 30%;
}
.description h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 38px;
    color: #fff;
    margin: 10px;
    padding-top: 15px;
    position: relative;
}

.description h3:before{
    content: "";
    width: 15%;
    height: 5px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: -1px;
}
.description  h4{
    font-family: 'Raleway', sans-serif;
    font-size: 19px;
    color: #a8a9b0;
    margin-bottom: 50px;
}

.description p{
     font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #fff;
    line-height: 1.5em;
}

.photo{
    width: 406px;
    height: 406px;
    overflow: hidden;
      -webkit-box-shadow: -16px 17px 41px 9px rgba(0,0,0,0.66);
    -moz-box-shadow: -16px 17px 41px 9px rgba(0,0,0,0.66);
    box-shadow: -16px 17px 41px 9px rgba(0,0,0,0.66);
    position: relative;
}

.side{
    display: flex;
    align-items: flex-end;
    
}
.kenneth{
    display: flex;
    justify-content: flex-start;
    margin-top: 250px;
    margin-left: 50px;
    position: relative;
    bottom:  50px;
    left: 70px;
}
.kenneth img{
    position: absolute;
    left: -200px;
    height: 100%;
    width: 250%;
    opacity: 0.3; 
}

.kenneth .description{
    position: absolute;
    left: 300px;
    opacity: 0.3;
}

.richard{
    position: relative;
    right: 70px;
    bottom: 350px;
    display: flex;
    justify-content: flex-end;
    margin: 50px;
}

.richard img{
    position: absolute;
    top: -120px;
    left: -100px;
    width: 150%;
    opacity: 0.3;
    align-self: flex-start;
}
.richard .description{
    position: absolute;
    right: 200px;
    opacity: 0.3;
}
.judith{
    position: relative;
    bottom: 400px;
    left: 200px;
    z-index: 4;
    width: 50%;
}
.judith img{
    position: absolute;
    top:-850px;
    left: -270px;
    bottom: 0;
    width: 400%;
    height: auto;
    bottom: 2px;
    opacity: 0.3;
    
}

.judith .description{
    position: absolute;
    left: -110px;
    opacity: 0.3;
}

.donald{
    display: flex;
    justify-content: flex-end;
    margin-right: 250px;
    position: relative;
    bottom: 600px;
    right: -50px;
    
}
.donald img{
    position: absolute;
    top: -250px;
    left: -170px;
    width: 150%;
    opacity: 0.3;
}

.donald .description{
    position: absolute;
    right: -170px;
    opacity: 0.3;
}

.event{
    background: url('http://imagehost.imgcave.com/2017/07/05/letterE.png') no-repeat  right 50%/50%, url(http://imagehost.imgcave.com/2017/07/05/event.png) no-repeat 50%/100%;
    height: 1189px;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}


.event h2{
    font-family: 'Raleway', sans-serif;
    font-size: 72px;
    color: #fff;
}

.event-text p{
    font-family: 'Raleway', sans-serif;
    width: 30%;
    margin: 10px;
    font-size: 15px;
    color: #fff;
    line-height: 1.5em;
}
footer{
    display: flex;
    flex-direction: column;
}
footer .logo{
    display: flex;
    justify-content: center;
    opacity: 0.4;
}

footer a{
    text-decoration: underline;
    color: #53566f;
}

.menu{
    display: flex;
    justify-content: space-around;
    flex-shrink: 2;
    margin: 20px;
    align-items: flex-end;
}
.menu a{
padding: 2px;
}

.event-text{
    margin-left: 150px;
    position: absolute;
    top: 400px;
}


@media only screen and (max-width: 375px) {
   header h1{
    font-size: 50px;
}
    
    .mission{
    flex-direction: column;
        position: static;
}
    
    .number h1{
    font-size: 120px;
}

    .number p{
    font-size: 14px;
    top:60px;
    left:50px;
}
    .text{
    position: static;
    text-align: center;
    opacity: 1;
    margin-top: 30px;
}
    
    .box{
   margin: 1px;
   position: static;
   height: auto;
   
}
    .box img{
   width: 100%;
}
    
    .projects{
    height: auto;
    background: url(http://imagehost.imgcave.com/2017/07/04/Layer17.png)  no-repeat center;
    position: relative;
    margin-top: 150px;
}

.project-images{
    width: 100%;
    padding: 20px;
    margin: 5px;
}

.project-images img{
    padding: 20px;
}

.number1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.number1 h1{
    font-size: 120px;
    top: -770px;
    left: -50px;
}

.number1 p{
    font-size: 14px;
    top:-710px;
    left:-10px;
}
    
.team{
    background: none;
}
.georg{
    margin-right: 20px;
}
 .photo-g{
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
     -webkit-box-shadow: -16px 17px 41px 9px rgba(0,0,0,0.66);
    -moz-box-shadow: -16px 17px 41px 9px rgba(0,0,0,0.66);
    box-shadow: -16px 17px 41px 9px rgba(0,0,0,0.66);
    
}

    
.description{
    max-width: 100%;
    z-index: 3;
}

.dsc-g{
    position: absolute;
    top: 350px;
    left: 10px;
    width: 100%;
    text-align: center;
}

.photo{
    width: 300px;
    height: 300px;
}

.kenneth{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 540px;
    margin-left: 0px;
    position: relative;
    bottom:  70px;
    left: 50px;
    width: 70%;
   
}
.kenneth img{
    left: -100px;
}

.kenneth .description{
    position: static;
    left: 0px;
    top: 50px;
    opacity: 0.3;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.richard{
    
    right: 0px;
    bottom: 120px;
    flex-wrap: wrap;
    margin: 50px;
    width: 70%;
}


.richard .description{
    position: static;
    width: 100%;
    text-align: center;
}
.judith{
    flex-wrap: wrap;
    position: relative;
    bottom: 120px;
    left: 50px;
    width: 70%;
}
.judith img{
    top:-500px;
    left: -190px;
}

.judith .description{
    position: static;
    text-align: center;
}

.donald{
    flex-wrap: wrap;
    bottom: 70px;
    right: -50px;
    width: 70%;
  
}
.donald img{
    top: -100px;
    left: -120px;
    width: 150%;
}

.donald .description{
    text-align: center;
    position: static;
    right: 0px;
}
.event{
    background: url(http://imagehost.imgcave.com/2017/07/05/event.png) no-repeat 50%/100%;
    height: 1300px;
    margin-top: 200px;
    justify-content: space-between;
    
}

.event h2{
    font-size: 42px;
    margin-top: 10px;
}

.event-text p{
    width: 100%;
}

.menu{
    margin: 5px;
}

.event-text{
    margin-left: 0px;
    
}
}